.navbar{
    background-color: #104B84;
    height: 10vh;
    position:sticky;
}
.div{
    /* display:flex; */
    /* margin-left: 2rem;
    margin-right: 2rem; */
}
.description{
    
    
}
.cant{
    height: 100%;
    /* background-color: pink; */
}
.container{
    border: 0;
    /* background-color: #f5f0f0; */
    /* margin: 1rem; */
    margin-top: 1rem;
    /* -webkit-box-shadow: 10px 10px 5px 0px rgb(212, 216, 229);
    -moz-box-shadow: 10px 10px 5px 0px rgb(212, 216, 229);
    box-shadow: 10px 10px 5px 0px rgb(212, 216, 229);
    width: 100%; */
}
.container:hover{
    /* background-color: #728eba9e; */
    -webkit-box-shadow: 10px 10px 5px 0px rgb(212, 216, 229)    ;
    -moz-box-shadow: 10px 10px 5px 0px rgb(212, 216, 229);
    box-shadow: 10px 10px 5px 0px rgb(212, 216, 229);
    transform: translateY(0.2rem);
}
.tittle{
    
}

.container_{
    width: 80%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-color: rgb(244, 246, 253);
}

.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column {
    display: table-cell;
}